@media (max-width : 768px){
    .grid,
    .grid-adver,
    .icons-grid-3,
    .cli .grid-cli,
    .card-grid-icons,
    .grid-main,
    .head-grid,
    .head-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    }
   
.showcase{
    height: auto;
}
.card-grid,
.card,
.docs-img,
.features-img,
.main-img{
    justify-self: center;
}
.cli .grid-cli > *:first-child{
    grid-column: 1;
    grid-row: 1;
    
}
.docs-title{
    
    text-align: center;
}
.adver{
    height: auto;
}
.head-title{
    text-align: center;
}
.grid-footer{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr) 20px;
    
    
 }

 .footer .footer-nav{
    
     grid-row: 1;
     grid-column: 2/3;
 }
 .footer .footer-title{
     grid-row: 2;
    grid-column: 1/ 4;
 }
 .footer .grid-footer .social{
     grid-row: 3 / span 3;
     grid-column: 1/ span 3;
     
 }

/* .footer .social a{
    color: var(--font-color-white);
    margin: 0 .1rem;
    font-size: 2rem;   
} */





}