@media (max-width : 768px){
    .grid,
    .grid-adver,
    .icons-grid-3,
    .tip .grid-tip,
    .card-grid-icons,
    .grid-main,
    .head-grid,
    .head-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    }
   
.showcase{
    height: auto;
}
.card-grid,
.card,
.docs-img,
.features-img,
.main-img{
    justify-self: center;
}
.tip .grid-tip > *:first-child{
    grid-column: 1;
    grid-row: 1;
    
}
.docs-title{
    
    text-align: center;
}
.adver{
    height: auto;
}
.head-title{
    text-align: center;
}
.grid-footer .social{
   margin: 0 auto;
  }





}